body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: #e7e7e7 solid 1px;
    position: relative;
    transition: box-shadow .5s;
}

.thumb-wrap {
 
    height: 250px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.title-wrap {
    background: #FFF;
    padding: 5px 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h3 {
    text-decoration: none;
    font-size: 1.7em;
    color: #2200CC;
}
