body {
    margin: 60px auto;
    width: 70%;
    max-width: 1280px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul {
    padding-inline-start: 0px;
}

ul.posts { 
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: #e7e7e7 solid 1px;
    position: relative;
    transition: box-shadow .5s;
}

ul.posts li a {
    color: #333;
}

ul.posts li:hover {
    box-shadow: 10px 0 0 #484848, -10px 0 0 #363636;

}

ul.posts li span {
    font-size: 13px;
}


.thumb-wrap {
 
    height: 180px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.title-wrap {
    background: #FFF;
    padding: 5px 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h3 {
    text-decoration: none;
    font-size: 1.7em;
    color: #2200CC;
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 575.98px) {
    ul.posts {
       grid-template-columns: 1fr;
    }
    .title-wrap{
        font-size: 24px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    ul.posts {
       grid-template-columns: 1fr 1fr;
    }

}
/* // Large devices (desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.98px)  {
    ul.posts {
        grid-template-columns: 1fr 1fr;
         grid-template-rows: (auto*6);
     }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {

}
/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
