<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/project">Project</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
  <footer>
   <ul>
   <li>Assistant Professor of Environmental Studies</li>
   <li><a href="mailto:zhaoyun1230@gmail.com">Email: zhaoyun1230@gmail.com</a></li>
   <li>Last Updated: July 2023</li>
   </ul>
   <ul>

   <li>PAC 314, One University Plaza, Oklahoma State University · Springfield, IL 62629 </li>

   </ul>
  </footer>
  </body>

</html>
