<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
  <footer>
   <ul>
   <li><a href="mailto:yun.zhao@okstate.edu">Email: yun.zhao@okstate.edu</a></li>
   <li><a href="https://github.com/yun-zhao">github.com/yun-zhao</a></li>
   </ul>
   <ul>
   <li>Ph.D Candidate in Geography</li>
   <li>337 Murray Hall, Department of Geography, Oklahoma State University · Stillwater, OK 74078 · (405) 714-3253 </li>

   </ul>
  </footer>
  </body>

</html>
